.cards {
  margin-top: 51px;
}

.cards__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  justify-content: space-between;
  grid-gap: 20px 17px;
}
@media screen and (max-width: 880px) {
  .cards__list {
    margin: 0 auto;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .cards {
    margin-top: 36px;
  }

  .cards__list {
    justify-content: flex-start;
    padding: 0;
  }
}
