.card {
  max-width: 282px;
  min-height: 361px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.card__image {
  object-fit: cover;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.card__image:hover {
  cursor: pointer;
}

.card__description {
  background-color: white;
  width: 100%;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.card__header {
  justify-content: center;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  max-width: 282px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url("../images/like-inactive.svg") center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  margin: 0;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-right: 30px;
}

.card__like-button_active {
  background: transparent url("../images/like-active.svg") center no-repeat;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__trash-button {
  background: transparent url("../images/Trashcan.svg") center no-repeat;
  width: 18px;
  height: 19.3px;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}

.card__trash-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
