.footer {
  margin-top: 67px;
  margin-bottom: 60px;
  max-width: 880px;
  margin-left: 200px;
}

.footer__copyright {
  color: #545454;
}

@media screen and (min-width: 600px) and (max-width: 775px) {
  .footer {
    max-width: 581px;
    font-size: 16px;
    padding: 48px 0 36px 0;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 48px 19px 36px 19px;
    margin: 0;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
  }
}
