.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0 19px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}

.modal__container {
  background-color: white;
  position: relative;
  margin: auto;
  border-radius: 10px;
  width: 430px;
  height: 330px;
}

.modal__close {
  background: transparent url(../images/Close\ Icon.svg) center no-repeat;
  position: absolute;
  cursor: pointer;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  border: none;
  background-size: contain;
}

.modal__heading {
  font-family: "Inter", "Arial", sans-serif;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0;
  padding-left: 36px;
  padding-top: 34px;
  padding-bottom: 54px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 358px;
  height: 36px;
  margin: 0;
  padding-left: 36px;
  padding-right: 36px;
  border: none;
}

.modal__input {
  margin-bottom: 30px;
  border: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.9px;
  position: relative;
}

.modal__button {
  background-color: #000;
  color: white;
  width: 358px;
  padding: 13.66px 124px 18.49px 125px;
  border: none;
  border-radius: 2px;
  margin-top: 18px;
  margin-bottom: 36px;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  font-family: "Inter", "Arial", sans-serif;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__image {
  width: 433px;
  height: 540px;
}

.modal__image-container {
  background-color: transparent;
  position: relative;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  width: 430px;
  height: auto;
  padding: 0;
}

.modal__caption {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  padding-top: 10px;
}

.modal__error {
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  left: 72px;
  width: 100%;
  text-align: left;
  transition: opacity 0.3s;
}

.modal__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.modal__input.modal__input_type_error {
  border-color: #ff0000;
}

#profile-title-input-error {
  position: absolute;
  transform: translate(-35px, calc(100% + 10px));
  width: 358px;
}

#profile-description-input-error {
  position: absolute;
  transform: translate(-35px, calc(100% + 60px));
  width: 358px;
}
#card-title-input-error {
  position: absolute;
  transform: translate(-35px, calc(100% + 10px));
  width: 358px;
}
#card-image-input-error {
  position: absolute;
  transform: translate(-35px, calc(100% + 60px));
  width: 358px;
}

@media screen and (max-width: 630px) {
  .modal__heading {
    font-size: 18px;
    line-height: 21.78px;
    padding: 25px 0 76px 22px;
  }

  .modal__form {
    padding-left: 22px;
    padding-right: 22px;
    width: 238px;
  }

  .modal__close {
    bottom: calc(100% + 13.62px);
    left: calc(100% - 140px);
    width: 238px;
    height: 22px;
  }

  .modal__button {
    font-size: 14px;
    font-weight: 400;
    line-height: 21.78px;
    width: 238px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
  }

  .modal__container {
    width: 282px;
    padding: 0;
  }

  .modal__input {
    width: 238px;
  }
  .modal__image-container {
    width: 240px;
  }
  .modal__image {
    width: 240px;
    height: 299px;
  }

  .modal__button {
    padding-bottom: 25px;
  }

  #profile-title-input-error {
    position: absolute;
    left: 60px;
    width: 240px;
  }

  #profile-description-input-error {
    position: absolute;
    left: 60px;
    width: 240px;
  }
  #card-title-input-error {
    position: absolute;
    left: 60px;
    width: 240px;
  }
  #card-image-input-error {
    position: absolute;
    left: 60px;
    width: 240px;
  }
}
